<h1>Welcome to home page</h1>
<p>This is a simple project to test API.</p>
<p>Click <a href="https://github.com/umi98/fga-binar-challenge04/tree/challange06" target="_blank">here</a> to see project on Github.</p>
<p>To test the APIs, please use Postman by importing postman.json from postman_and_db folder.</p>
<p>There are some feature that was yet to added, please check regularly.</p>